<mat-card class="form-card">
    <mat-card-title>Change Access Point Password</mat-card-title>
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
        <mat-form-field appearance="fill" class="full-width">
            <mat-label>New Access Point Password</mat-label>
            <input matInput type="password" formControlName="password" required minlength="8">

            @if (form.get('password')?.hasError('required')) {
                <mat-error>
                    Password is required
                </mat-error>
            }
            @if (form.get('password')?.hasError('minlength')) {
                <mat-error>
                    Password must be at least 8 characters
                </mat-error>
            }
        </mat-form-field>

        <button mat-raised-button color="primary" class="full-width" [disabled]="form.invalid || loading">
            {{ loading ? 'Changing...' : 'Change Access Point Password' }}
        </button>
    </form>
</mat-card>
