<mat-card class="form-card">
    <mat-card-title>Change User Password</mat-card-title>
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
        <mat-form-field appearance="fill" class="full-width">
            <mat-label>New Password</mat-label>
            <input matInput [type]="passwordVisible ? 'text' : 'password'" formControlName="password" required minlength="8">
            <button type="button" mat-icon-button matSuffix (click)="passwordVisible = !passwordVisible" [attr.aria-label]="'Hide password'"
                    [attr.aria-pressed]="!passwordVisible">
                <mat-icon>{{passwordVisible ? 'visibility' : 'visibility_off'}}</mat-icon>
            </button>

            @if (form.get('password')?.hasError('required')) {
                <mat-error>
                    Password is required
                </mat-error>
            }
            @if (form.get('password')?.hasError('minlength')) {
                <mat-error>
                    Password must be at least 8 characters
                </mat-error>
            }
        </mat-form-field>

        <button mat-raised-button color="primary" class="full-width" [disabled]="form.invalid || loading">
            {{ loading ? 'Changing...' : 'Change User Password' }}
        </button>
    </form>
</mat-card>
