.row {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;

    .col {
        width: 50%;
        max-width: 400px;
    }
}

@media (max-width: 1200px) {
    .row .col{
        width: 100%;
    }
}
